<div class="d-flex">
  <div ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills flex-column" orientation="vertical">
    <ng-container ngbNavItem="top">
      <button ngbNavLink>Info Utente</button>
      <ng-template ngbNavContent>
        <app-user-info></app-user-info>
      </ng-template>
    </ng-container>

    <ng-container ngbNavItem="bottom">
      <button ngbNavLink>Credenziali</button>
      <ng-template ngbNavContent>
        <app-user-credentials></app-user-credentials>
      </ng-template>
    </ng-container>

    <ng-container ngbNavItem="middle">
      <button ngbNavLink>Indirizzi</button>
      <ng-template ngbNavContent>

        <app-useraddress></app-useraddress>

      </ng-template>
    </ng-container>

    <ng-container ngbNavItem="payment">
      <button ngbNavLink>Metodi di pagamento</button>
      <ng-template ngbNavContent>
        
        <app-userpayments></app-userpayments>

      </ng-template>
    </ng-container>
  </div>
  <div [ngbNavOutlet]="nav" class="ms-4"></div>
</div>