<div>
    <ng-container *ngIf="!completed">
        <form class="main-container" #registerForm='ngForm' (submit)="register(registerForm, birthdate)">
            <label class="title">Benvenuto</label>
            <label class="text">Completa la registrazione e unisciti a noi!</label>
            <div class="input-group">
                <input #firstName="ngModel" ngModel="" [(ngModel)]="newCredentials.user.firstName" placeholder="Nome" name="firstName" type="text" required>
                <ng-container *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
                    <div *ngIf="firstName.errors?.['required']" style="color: rgb(175, 5, 5);">
                        Inserisci un nome valido
                    </div>
                </ng-container>
                <input #lastName="ngModel" [(ngModel)]="newCredentials.user.lastName" placeholder="Cognome" name="lastName" type="text" required>
                <ng-container *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
                    <div *ngIf="lastName.errors?.['required']" style="color: rgb(175, 5, 5);">
                        Inserisci un cognome valido
                    </div>
                </ng-container>
                <input #birthdate="ngModel" [(ngModel)]="newCredentials.user.birthDate" placeholder="Data di nascita" name="birthdate" type="date" required>
                <ng-container *ngIf="checkUnderage(birthdate)">
                    <div *ngIf="lastName.errors?.['required'] || checkUnderage(birthdate)" style="color: rgb(175, 5, 5);">
                        Inserisci una data di nascita valida. Ricorda che devi avere almeno 18 anni per poterti iscrivere
                    </div>
                </ng-container>
                <input #email="ngModel" [(ngModel)]="newCredentials.cred.email" placeholder="Email" type="email" name="email" required minlength="4" pattern="[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                <ng-container *ngIf="email.invalid && (email.dirty || email.touched)">
                    <div *ngIf="email.errors?.['required'] || email.errors?.['minlength']" style="color: rgb(175, 5, 5);">
                        Inserisci un'email valida di almeno 6 caratteri
                    </div>
                </ng-container>
                <input #password="ngModel" [(ngModel)]="newCredentials.cred.password" placeholder="Password" name="password" type="password" required minlength="8">
                <ng-container *ngIf="password.invalid && (password.dirty || password.touched)">
                    <div *ngIf="password.errors?.['required'] || password.errors?.['minlength']" style="color: rgb(175, 5, 5);">
                        Inserisci una password valida di almeno 8 caratteri
                    </div>
                </ng-container>
                <input #confirmPassword="ngModel" [(ngModel)]="ConfirmPassword" placeholder="Conferma Password" name="confirmPassword" type="password" required>
                <ng-container *ngIf="(confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched) || confirmPassword.value !== password.value)">
                    <div *ngIf="confirmPassword.value !== password.value"  style="color: rgb(175, 5, 5);">
                        La password non corrisponde a quella inserita in precedenza
                    </div>
                    <div *ngIf="confirmPassword.errors?.['required']"  style="color: rgb(175, 5, 5);">
                        Inserisci una password valida
                    </div>
                </ng-container>
            </div>
            <button type="submit">Registrati</button>
            <label style="align-self: center;">Hai gia' un account? <a (click)="change('login')" class="clickable">Login</a></label>
        </form>
    </ng-container>
    <ng-container *ngIf="completed">
        <div class="main-container">
            <label class="text">Grazie per esserti registrato! Torna alla pagina di login facendo click <a (click)="change('login')" class="clickable">qui</a></label>
        </div>
    </ng-container>
</div>    
