<div class="footer" *ngIf="footServ.active">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>About Us</h5>
                <p>Siamo un'azienda leader nella vendita di biciclette, offrendo una vasta gamma di biciclette per ogni esigenza.</p>
            </div>
            <div class="col-md-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a routerLink="/home">Home</a></li>
                    <li><a routerLink="/product">Shop</a></li>
                    <li><a routerLink="/contact">Contattaci</a></li>
                    <li><a routerLink="/chisiamo">Chi Siamo</a></li>
                    <li><a routerLink="#">Terms & Conditions</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Contact Us</h5>
                <p>Email: info&commat;betacycleshop.com</p>
                <p>Phone: +39 123 456 789</p>
                <div class="social-icons">
                    <a href="https://www.facebook.com/BetacomSrl" class="fab fa-facebook" style="text-decoration: none;"> </a>
                    <a href="https://it.linkedin.com/company/betacom-s-r-l-" class="fab fa-linkedin" style="text-decoration: none;"> </a>
                    <a href="https://www.instagram.com/betacom_it/" class="fab fa-instagram" style="text-decoration: none;"></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="text-center">&copy; 2024 BetaCycle Shop. All rights reserved.</p>
            </div>
        </div>
    </div>
</div>
