
<body>
    <div>
        <h1>Contatti</h1>
    </div>
    <img class="image1"
        src="https://img.freepik.com/premium-photo/mountain-bike-mountains-crosscountry-bike-rocksgenerative-ai_391052-13473.jpg"
        alt="">

    <a href="https://maps.app.goo.gl/hGZESqBu2U9vpXh67"> 
        <img class="image2" src="assets/maps.png" alt="">
    </a>
    <p class="p1">
        <br>
        <strong>Betacycle Torino</strong><br><br>
        <i class="bi bi-geo-alt-fill"></i> Corso Svizzera 185 - Torino (TO)<br>
        <i class="bi bi-telephone-fill"></i> Tel: +39 123 456 7890<br>
        <i class="bi bi-envelope-fill"></i> Email: info&commat;betacycleshop.com<br>
    </p>
    <app-footer></app-footer>
</body>

