<div class="main-container" style="flex-direction: column;">
    <label style="font-weight: bold; font-size: 100px;">Benvenuto</label>
    <label style="font-weight: bold; font-size: large;">Operazioni disponibili</label>
    <div style="flex-direction: row; display: flex; width: 90%; height: 30em; align-self: center; column-gap: 20px; padding:10px">
        <button class="card" (click)="redirect('logs-viewer')"><div >Accedi ai logs</div></button>
        <button class="card" (click)="redirect('products-viewer')"><div >Accedi ai prodotti</div></button>
        <button class="card" (click)="logout()"><div >Logout</div></button>
    </div>


</div>
