.center {
    margin-left: auto;
    margin-right: auto;
 }
 
 body {
     background: linear-gradient(90deg, #C7C5F4, #776BCC);	/*#C7C5F4*/	
     height: fit-content;
    /*height: 100vh;*/
 }
 
 hr {
    margin-top: 5px;
    /*height: 10vh;*/
    border: none;
  }

.product-header-image{
   object-fit: contain;
   width: 100%;
   height: 600px;
}
.product-item{
   margin-bottom: 10px;
   border: 1px solid rgb(255, 199, 96);
}

.product-item img{
   width: 100%;
   height: 100px;
   object-fit: contain;
}

.product-item .product-details {
   border-top: 1px solid rgb(255, 199, 96);
   border-bottom: 1px solid rgb(255, 199, 96);
   padding: 5px;
}

.product-item .name-head{
   font-size: 20px;
   font-weight: 600;
}
.product-item h6{
   text-align: center;
}
.product-item .product-footer{
   display: flex;
   justify-content: space-between;
   padding: 5px;
}
 