.main-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 2%;
    gap: 10px;
}

details[open] summary ~ * {
    animation: sweep .5s ease-in-out;
}

@keyframes sweep {
    0%    {opacity: 0; margin-top: -10px}
    100%  {opacity: 1; margin-top: 0px}
}

.card-product{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    height: fit-content;
    background-color: #f2f2f2;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

details summary::-webkit-details-marker {
    display: none;
  }
  details > summary:first-of-type {
    list-style-type: none;
  }

summary{
    border-radius: 15px;
    /* background-color: #9BB0C1; */
    /* width: fit-content; */
    padding: 10px
}

.add-button-wrapper{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.icon-wrapper{
    padding: 10px;
}

.viewer{
    position: relative;
    overflow: auto;
    gap: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    height: 100%;
    /* background-color: #f2f2f2; */
    transition: 0.3s;
}

.add-button{
    display: flex; 
    flex-direction: row; 
    width: 200px; 
    border-radius: 15px; 
    border: 1px solid #4c7a91; 
    justify-content: center; 
    height: 50px; 
    align-items: center; 
    background-color: #51829B; 
    color: white;
}

.add-button:hover{
    background-color: #40677a; 
}

.search-bar{
    justify-content: center; 
    display: flex; 
    width: 100%;
    padding-bottom: 10px;
    flex-wrap: nowrap;
}

.header{
    display: flex; 
    flex-direction: row; 
    align-items: center;
}

.clickable:hover{
    cursor: pointer;
}


.wrapper{
    width: 100%;
    position: relative;
    height: 90%;
}

.footer{
    width: 100%;
    display: flex;
    justify-content: center;
}

.input-wrapper{
    border-radius: 20px;
}

.page-navigator-wrapper{
    text-align: center;
    position: relative;
    width: 200px;
    height: 50px;
}

.search-button {
    color: black;
    background-color: whitesmoke;
    font-weight: 500;
    border-top-right-radius: 20px; 
    border-bottom-right-radius: 20px;
    font-size: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    cursor: pointer;
    text-align: center;
    margin-right: 0.5rem;
    display: inline-flex;
    align-items: center;
    border: none;
  }

  
.search-select{
    color: black;
    background-color: whitesmoke;
    font-weight: 500;
    font-size: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    cursor: pointer;
    text-align: center;
    display: inline-flex;
    align-items: center;
    border: none;
    height: 100%;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}
  
.search-button:hover {
    background-color: rgb(189, 189, 189);
}