<h2 mat-dialog-title>Add model</h2>
<mat-dialog-content>
  <div style="display: flex; flex-direction: column;">
    <div style="padding: 10px;" class="input-container">
      <label style="padding-right: 10px;">Model name</label>
      <input type = 'text' placeholder="Model name" [(ngModel)]="model.name" required #modelName = 'ngModel'/>
      <ng-container *ngIf="(modelName.errors?.['required'] || !validate(modelName)) && (modelName.dirty || modelName.touched)">
        <div  style="color: rgb(175, 5, 5);">
            Insert a valid name that doesn't have been already added
        </div>
    </ng-container>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button mat-dialog-close cdkFocusInitial [mat-dialog-close]="{state: validate(modelName), model}">Confirm</button>
</mat-dialog-actions>
