<h1 class="h1TitleProduct">I nostri best-seller</h1>
<div class="card-container" *ngIf="showOriginalCards">
    <ng-container *ngIf="service.products != undefined">
        <a *ngFor="let p of service.products" class="card">
            <div *ngFor="let l of p | keyvalue">
                <div *ngIf="l.key == 'thumbnailPhoto'">
                    <img [src]="convert(l.value)" alt="..." width="100" height="100">
                </div>
            </div>
            <h2>{{p.productName}}</h2>
            <p>Prezzo: €{{p.insertPrice | number : '1.2-2'}}</p>
            <p>Colore: {{p.color}}</p>
            <a (click)="GoToDetailsPage(p.productId)" style="cursor: pointer;color:blue">Show more details</a><br>
            <i (click)="service.AddToCartFromCards(p)" class="fa fa-shopping-cart">Add to cart</i>
        </a>
    </ng-container>
</div>

<div class="footer" style="margin-left: 30px;">
    <div>
        <ng-container *ngIf="service.totalProducts==0"> <label>Prodotti mostrati {{0}} - {{service.totalProducts}} di {{service.totalProducts}}</label>  </ng-container>
        <ng-container *ngIf="service.totalProducts<10 && service.totalProducts!=0"> <label>Prodotti mostrati {{service.page}} - {{service.totalProducts}} di {{service.totalProducts}}</label>  </ng-container>
        <ng-container *ngIf="service.page == 1 && service.totalProducts>=10"> <label>Prodotti mostrati {{service.page}} - {{service.page*10}} di {{service.totalProducts}}</label>  </ng-container>
        <ng-container *ngIf="service.page > 1 && service.totalProducts>=10"> <label>Prodotti mostrati {{(service.page-1)*10}} - {{((service.page-1)*10)+service.loadedProducts}} di {{service.totalProducts}}</label>  </ng-container>
    </div> 
<div class="page-navigator-wrapper" style="margin-left: 30px;">
        <a (click)="service.prev()" style="font-size: 1.4em; cursor: pointer;"><i class="bi bi-arrow-left" style="margin-right: 5px;"></i></a>
               
        <a (click)="service.next()" style="font-size: 1.4em; cursor: pointer;"><i class="bi bi-arrow-right"></i></a>
    </div>
</div>

