
 <div class="card-container" *ngIf="showOriginalCards">
                 <a href="product1.html" class="card">
                     <img src="https://d1mgeijqpfaspl.cloudfront.net/uploads/bike/media/743699/d092ff4d-e52a-4a08-88e2-4c7fbad8158f.webp?width=770" alt="Bicicletta 1" class="card-img">
                     <h2>Bianchi Racing</h2>
                     <p>Prezzo: €800</p>
                     <p>Descrizione breve della bici 1. Questa bici è perfetta per la città.</p>
                     <i class="fas fa-shopping-cart cart-icon"></i>
                 </a>
     
                 <a href="product1.html" class="card">
                     <img src="https://d1mgeijqpfaspl.cloudfront.net/uploads/bike/media/723581/9b8a31a7-da7e-42e6-8600-70f8d2921add.webp" alt="Bicicletta 1" class="card-img">
                     <h2>Nome Bici 1</h2>
                     <p>Prezzo: €500</p>
                     <p>Descrizione breve della bici 1. Questa bici è perfetta per la città.</p>
                     <i class="fas fa-shopping-cart cart-icon"></i>
                 </a>
     
                 <a href="product2.html" class="card">
                     <img src="https://d1mgeijqpfaspl.cloudfront.net/uploads/bike/media/650632/0f933ca1-199f-45a7-8981-2b24eb9fda60.webp?width=770" alt="Bicicletta 2" class="card-img">
                     <h2>Nome Bici 2</h2>
                     <p>Prezzo: €750</p>
                     <p>Descrizione breve della bici 2. Ideale per percorsi sterrati.</p>
                     <i class="fas fa-shopping-cart cart-icon"></i>
                 </a>
                 <a href="product3.html" class="card">
                     <img src="https://d1mgeijqpfaspl.cloudfront.net/uploads/bike/media/738554/a41e7a4a-3371-43cc-bcdb-32e733f54a2f.webp?width=770" alt="Bicicletta 3" class="card-img">
                     <h2>Nome Bici 3</h2>
                     <p>Prezzo: €1000</p>
                     <p>Descrizione breve della bici 3. Perfetta per lunghe distanze.</p>
                     <i class="fas fa-shopping-cart cart-icon"></i>
                 </a>
             </div>
             <div class="card-container" *ngIf="!showOriginalCards">
                <a href="product1.html" class="card">
                    <img src="https://d1mgeijqpfaspl.cloudfront.net/uploads/bike/media/743699/d092ff4d-e52a-4a08-88e2-4c7fbad8158f.webp?width=770" alt="Bicicletta 1" class="card-img">
                    <h2>Bianchi Racing</h2>
                    <p>Prezzo: €800</p>
                    <p>Descrizione breve della bici 1. Questa bici è perfetta per la città.</p>
                    <i class="fas fa-shopping-cart cart-icon"></i>
                </a>
    
                <a href="product1.html" class="card">
                    <img src="https://d1mgeijqpfaspl.cloudfront.net/uploads/bike/media/723581/9b8a31a7-da7e-42e6-8600-70f8d2921add.webp" alt="Bicicletta 1" class="card-img">
                    <h2>Nome Bici 1</h2>
                    <p>Prezzo: €500</p>
                    <p>Descrizione breve della bici 1. Questa bici è perfetta per la città.</p>
                    <i class="fas fa-shopping-cart cart-icon"></i>
                </a>
    
                <a href="product2.html" class="card">
                    <img src="https://d1mgeijqpfaspl.cloudfront.net/uploads/bike/media/650632/0f933ca1-199f-45a7-8981-2b24eb9fda60.webp?width=770" alt="Bicicletta 2" class="card-img">
                    <h2>Nome Bici 2</h2>
                    <p>Prezzo: €750</p>
                    <p>Descrizione breve della bici 2. Ideale per percorsi sterrati.</p>
                    <i class="fas fa-shopping-cart cart-icon"></i>
                </a>
                <a href="product3.html" class="card">
                    <img src="https://d1mgeijqpfaspl.cloudfront.net/uploads/bike/media/738554/a41e7a4a-3371-43cc-bcdb-32e733f54a2f.webp?width=770" alt="Bicicletta 3" class="card-img">
                    <h2>Nome Bici 3</h2>
                    <p>Prezzo: €1000</p>
                    <p>Descrizione breve della bici 3. Perfetta per lunghe distanze.</p>
                    <i class="fas fa-shopping-cart cart-icon"></i>
                </a>
            </div>

            
         <div class="divMedium">
             <div class="card-container " *ngIf="showOriginalCards">
                 <a href="product1.html" class="card">
                     <img src="https://images.sbito.it/api/v1/sbt-ads-images-pro/images/e0/e00d0854-1fc4-42fb-b97b-7832327d98cb?rule=fullscreen-1x-auto" alt="Bicicletta 1" class="card-img">
                     <h2>Umberto Dei Anni 70</h2>
                     <p>Prezzo: €500</p>
                     <p>Descrizione breve della bici 1. Questa bici è perfetta per la città.</p>
                     <i class="fas fa-shopping-cart cart-icon"></i>
                 </a>
     
                 <a href="product1.html" class="card">
                     <img src="https://d1mgeijqpfaspl.cloudfront.net/uploads/bike/media/723581/9b8a31a7-da7e-42e6-8600-70f8d2921add.webp" alt="Bicicletta 1" class="card-img">
                     <h2>Cube Bikes</h2>
                     <p>Prezzo: €500</p>
                     <p>Descrizione breve della bici 1. Questa bici è perfetta per la città.</p>
                     <i class="fas fa-shopping-cart cart-icon"></i>
                 </a>
     
                 <a href="product2.html" class="card">
                     <img src="https://d1mgeijqpfaspl.cloudfront.net/uploads/bike/media/650632/0f933ca1-199f-45a7-8981-2b24eb9fda60.webp?width=770" alt="Bicicletta 2" class="card-img">
                     <h2>Pinarello</h2>
                     <p>Prezzo: €750</p>
                     <p>Descrizione breve della bici 2. Ideale per percorsi sterrati.</p>
                     <i class="fas fa-shopping-cart cart-icon"></i>
                 </a>
                 <a href="product3.html" class="card">
                     <img src="https://d1mgeijqpfaspl.cloudfront.net/uploads/bike/media/738554/a41e7a4a-3371-43cc-bcdb-32e733f54a2f.webp?width=770" alt="Bicicletta 3" class="card-img">
                     <h2>Canion Montain Trial</h2>
                     <p>Prezzo: €1000</p>
                     <p>Descrizione breve della bici 3. Perfetta per lunghe distanze.</p>
                     <i class="fas fa-shopping-cart cart-icon"></i>
                 </a>
                 
             </div>
             <div class="card-container " *ngIf="!showOriginalCards">
                <a href="product1.html" class="card">
                    <img src="https://images.sbito.it/api/v1/sbt-ads-images-pro/images/e0/e00d0854-1fc4-42fb-b97b-7832327d98cb?rule=fullscreen-1x-auto" alt="Bicicletta 1" class="card-img">
                    <h2>Umberto Dei Anni 70</h2>
                    <p>Prezzo: €500</p>
                    <p>Descrizione breve della bici 1. Questa bici è perfetta per la città.</p>
                    <i class="fas fa-shopping-cart cart-icon"></i>
                </a>
    
                <a href="product1.html" class="card">
                    <img src="https://d1mgeijqpfaspl.cloudfront.net/uploads/bike/media/723581/9b8a31a7-da7e-42e6-8600-70f8d2921add.webp" alt="Bicicletta 1" class="card-img">
                    <h2>Cube Bikes</h2>
                    <p>Prezzo: €500</p>
                    <p>Descrizione breve della bici 1. Questa bici è perfetta per la città.</p>
                    <i class="fas fa-shopping-cart cart-icon"></i>
                </a>
    
                <a href="product2.html" class="card">
                    <img src="https://d1mgeijqpfaspl.cloudfront.net/uploads/bike/media/650632/0f933ca1-199f-45a7-8981-2b24eb9fda60.webp?width=770" alt="Bicicletta 2" class="card-img">
                    <h2>Pinarello</h2>
                    <p>Prezzo: €750</p>
                    <p>Descrizione breve della bici 2. Ideale per percorsi sterrati.</p>
                    <i class="fas fa-shopping-cart cart-icon"></i>
                </a>
                <a href="product3.html" class="card">
                    <img src="https://d1mgeijqpfaspl.cloudfront.net/uploads/bike/media/738554/a41e7a4a-3371-43cc-bcdb-32e733f54a2f.webp?width=770" alt="Bicicletta 3" class="card-img">
                    <h2>Canion Montain Trial</h2>
                    <p>Prezzo: €1000</p>
                    <p>Descrizione breve della bici 3. Perfetta per lunghe distanze.</p>
                    <i class="fas fa-shopping-cart cart-icon"></i>
                </a>
                
            </div>
      