<ng-container *ngIf="status == 'op'">
    <form class="main-container" #loginForm='ngForm' (submit)="UpdatePassword()">
        <label class="title">Password Scaduta</label>
        <label class="text">Inserisci una nuova password</label>
        <div class="input-group">

            <input #oldPassword="ngModel" [(ngModel)]="oldCredentials.password" placeholder="Vecchia password"
                type="password" required minlength="8" name="oldPassword" [disabled]="true">
        
            <input #newPw="ngModel" [(ngModel)]="newPassword" placeholder="Nuova password" type="password"
                required minlength="8" name="newPw">
            <ng-container *ngIf="newPw.invalid && (newPw.dirty || newPw.touched)">
                <div *ngIf="newPw.errors?.['minlength'] || newPw.errors?.['required']"
                    style="color: rgb(175, 5, 5);">
                    Password must be at least 8 characters long.
                </div>
            </ng-container>
            <input #confirmPw="ngModel" [(ngModel)]="confirmPassword" placeholder="Conferma nuova password"
                type="password" required minlength="8" name="confirmPassword">
            <ng-container
                *ngIf="(confirmPw.invalid && (confirmPw.dirty || confirmPw.touched) || confirmPw.value !== newPw.value)">
                <div *ngIf="confirmPw.value !== newPw.value" style="color: rgb(175, 5, 5);">
                    La password non corrisponde a quella inserita in precedenza
                </div>
                <div *ngIf="confirmPw.errors?.['required']" style="color: rgb(175, 5, 5);">
                    Inserisci una password valida
                </div>
            </ng-container>
        </div>
        <button type="submit">Conferma nuova password</button>
    </form>
</ng-container>
<ng-container *ngIf="status == 'succ'">
    <div class="main-container">
        <label class="text">Aggiornamento della password completato</label>
        <label class="text">Fai click  <a (click)="this.changeForm.emit('login')" class="clickable">qui</a> per tornare alla pagina di login</label>
    </div>
</ng-container>
<ng-container *ngIf="status == 'fail'">
    <div class="main-container">
        <label class="text">Qualcosa e' andato storto, riprova in un altro momento</label>
    </div>
</ng-container>

