<form class="main-container" #loginForm='ngForm' (submit)="UpdatePassword()">
    <label class="title">Password Scaduta</label>
    <label class="text">Inserisci una nuova password</label>
    <div class="input-group">

        <input #oldPassword="ngModel" [(ngModel)]="oldCredentials.password" placeholder="Vecchia password"
            type="password" required minlength="8" name="oldPassword">
        <ng-container *ngIf="oldPassword.invalid && (oldPassword.dirty || oldPassword.touched)">
            <div *ngIf="oldPassword.errors?.['minlength'] || oldPassword.errors?.['required']"
                style="color: rgb(175, 5, 5);">
                Password must be at least 8 characters long.
            </div>
        </ng-container>
        <input #newPassword="ngModel" [(ngModel)]="newPassword" placeholder="Nuova password" type="password"
            required minlength="8" name="newPassword">
        <ng-container *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)">
            <div *ngIf="newPassword.errors?.['minlength'] || newPassword.errors?.['required']"
                style="color: rgb(175, 5, 5);">
                Password must be at least 8 characters long.
            </div>
        </ng-container>

        <input #confirmPassword="ngModel" [(ngModel)]="confirmPassword" placeholder="Conferma nuova password"
            type="password" required minlength="8" name="confirmPassword">
        <ng-container
            *ngIf="(confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched) || confirmPassword.value !== newPassword.value)">
            <div *ngIf="confirmPassword.value !== newPassword.value" style="color: rgb(175, 5, 5);">
                La password non corrisponde a quella inserita in precedenza
            </div>
            <div *ngIf="confirmPassword.errors?.['required']" style="color: rgb(175, 5, 5);">
                Inserisci una password valida
            </div>
        </ng-container>
    </div>
    <button type="submit">Conferma nuova password</button>
</form>