/* div{
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTShQUQ1HONn39WXc1waN2kPoaZQ0_70z8JiVz5YM61kw&s) ;
} */

/* .sfondo{ */
    /* background: url(https://www.bicitech.it/files/2020/02/TREK_DomanePlusLT_-2.jpg); */
    /* background: url(https://static2-viaggi.corriereobjects.it/wp-content/uploads/2021/03/bici-iStock-1140183508-1080x720.jpg?v=1616661753);
    background-size: auto;
    background-position: cover;
    background-repeat: no-repeat;

} */
body{
    background: url(https://www.val-gardena.com/fileadmin/_processed_/4/d/csm_-wd77672_7f6cb55235.jpg);
    background-size: cover;
    background-position: cover;
    background-repeat: no-repeat;
    height: 619px;
    margin: 0;
    padding: 0;
}
body{
    padding-top:4.2rem;
    padding-bottom:4.2rem;
    /* background:rgba(0, 0, 0, 0.76); */
    /* background-image: linear-gradient(35deg, #0011ff, #ffd900,rgb(245, 124, 10)); */
    /* background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTShQUQ1HONn39WXc1waN2kPoaZQ0_70z8JiVz5YM61kw&s); */
    }
    a{
     text-decoration:none !important;
     }
     h1,h2,h3{
     font-family: 'Kaushan Script', cursive;
     }
      .myform{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 1.1rem;
    outline: 0;
    max-width: 500px;
     }
     .tx-tfm{
     text-transform:uppercase;
     }
     .mybtn{
     border-radius:50px;
     }
     .login-or {
     position: relative;
     color: #aaa;
     margin-top: 10px;
     margin-bottom: 10px;
     padding-top: 10px;
     padding-bottom: 10px;
     }
     .span-or {
     display: block;
     position: absolute;
     left: 50%;
     top: -2px;
     margin-left: -25px;
     background-color: #fff;
     width: 50px;
     text-align: center;
     }
     .hr-or {
     height: 1px;
     margin-top: 0px !important;
     margin-bottom: 0px !important;
     }
     .google {
     color:#666;
     width:100%;
     height:40px;
     text-align:center;
     outline:none;
     border: 1px solid lightgrey;
     }
      form .error {
     color: #ff0000;
     }

body{
    padding-top:4.2rem;
    padding-bottom:4.2rem;
    /* background:rgba(0, 0, 0, 0.76); */
    /* background-image: linear-gradient(35deg, #0011ff, #ffd900,rgb(245, 124, 10)); */
    /* background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTShQUQ1HONn39WXc1waN2kPoaZQ0_70z8JiVz5YM61kw&s); */
    /* background-size: auto;
    background-position: cover;
    background-repeat: no-repeat; */
    }
    a{
     text-decoration:none !important;
     }
     h1,h2,h3{
     font-family: 'Kaushan Script', cursive;
     }
      .myform{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 1.1rem;
    outline: 0;
    max-width: 500px;
     }
     .tx-tfm{
     text-transform:uppercase;
     }
     .mybtn{
     border-radius:50px;
     }
    
     .login-or {
     position: relative;
     color: #aaa;
     margin-top: 10px;
     margin-bottom: 10px;
     padding-top: 10px;
     padding-bottom: 10px;
     }
     .span-or {
     display: block;
     position: absolute;
     left: 50%;
     top: -2px;
     margin-left: -25px;
     background-color: #fff;
     width: 50px;
     text-align: center;
     }
     .hr-or {
     height: 1px;
     margin-top: 0px !important;
     margin-bottom: 0px !important;
     }
     .google {
     color:#666;
     width:100%;
     height:40px;
     text-align:center;
     outline:none;
     border: 1px solid lightgrey;
     }
      form .error {
     color: #ff0000;
     }
     #second{display:none;}