.main-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 2%;
    gap: 1%;
}

details[open] summary ~ * {
    animation: sweep .5s ease-in-out;
}

@keyframes sweep {
    0%    {opacity: 0; margin-top: -10px}
    100%  {opacity: 1; margin-top: 0px}
}

summary{
    border-radius: 10px;
    background-color: #9BB0C1;
    width: fit-content;
    padding: 10px;
    border: 1px solid #93a4b38f
}

summary:hover{
    background-color: #8c9dac;
}

.viewer{
    position: relative;
    overflow: auto;
    gap: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    height: 90%;
    background-color: #f2f2f2;
    transition: 0.3s;
}

.clickable:hover{
    cursor: pointer;
}

.search-bar{
    justify-content: center; 
    display: flex; 
    width: 100%;
}

.header{
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    padding-bottom: 10px;
}

.wrapper{
    width: 100%;
    height: 90%;
    position: relative;
}

.footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.input-wrapper{
    border-radius: 20px;
}

.page-navigator-wrapper{
    text-align: center;
    position: relative;
    width: 200px;
    height: 50px;
}

.search-button {
    color: black;
    background-color: whitesmoke;
    font-weight: 500;
    border-top-right-radius: 20px; 
    border-bottom-right-radius: 20px;
    font-size: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    cursor: pointer;
    text-align: center;
    margin-right: 0.5rem;
    display: inline-flex;
    align-items: center;
    border: none;
  }

  
.search-select{
    color: black;
    background-color: whitesmoke;
    font-weight: 500;
    font-size: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    cursor: pointer;
    text-align: center;
    display: inline-flex;
    align-items: center;
    border: none;
    height: 100%;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}
  
.search-button:hover {
    background-color: rgb(189, 189, 189);
}

.logs-enable-button {
    align-self: center;
    padding: 17px 40px;
    border-radius: 10px;
    cursor: pointer;
    width: 300px;
    border: 0;
    background-color: hsl(147, 78%, 25%);
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    color: hsl(0, 0%, 100%);
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
}
  
.logs-disable-button {
    align-self: center;
    padding: 17px 40px;
    border-radius: 10px;
    cursor: pointer;
    width: 300px;
    border: 0;
    background-color: hsl(0, 94%, 35%);
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    color: hsl(0, 0%, 100%);
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
}
  