<div class="product-section">
    <!-- header -->
    <div class="left-side">
        <img alt="aa" style="height: 70%;">
        <div style="flex-direction: row;">
            <button></button>
            <label>aa</label>
            <button></button>
        </div>
    </div>
    
    <div class="right-side">
        <label style="font-weight: bold;">Product Name: {{product.productName}}</label>
        <label>Price: {{product.actualPrice}}</label>
        <label>Disponibile </label>
        <label>Modello/colore/size {{product.model}}</label>
    </div>
</div>