
<div class="card" style="width: 15rem; height: 9 rem; margin: 10px" *ngFor="let a of getPayment" style="float: left">
  <div class="card-body">
    <h5 class="card-title">{{ a.nameCard }} {{a.surnameCard}}</h5>
    {{ a.expirationDate.substring(0,7) }} <br />
    {{ a.circuitCard }}
    <div style="margin-top: 0.5rem;">
      <button (click)="DeletePayment(a.idPayment)" class="btn btn-outline-danger my-2 my-sm-0">
        Elimina Pagamento</button>
    </div>
  </div>
</div>

<br>

<div class="add-button-wrapper">
  <div (click)="AddPaymentDialog('0ms', '0ms')" class="clickable add-button" style="justify-content: center;">
    <i class="bi bi-plus-lg">Aggiungi nuova carta</i>    
  </div>
</div>