h1{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 3%;
  border: black solid;
}
/* CSS
.galleria {
  display: flex;
  justify-content: center;
  align-items: center;
}

.galleria img {
  display: none;
  max-width: 100%;
  height: auto;
}

.galleria img.immagine-attiva {
  display: block;
} */

.buttonSlide 
{

  color: black;

}


.p-First
{
  color:black;
}

.h5-First 
{

  color: black;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: 900; 
}


.p-First
{
font-family: 'Times New Roman', Times, serif;
font-style: italic;
font-weight: 600;

}

.galleria{
  margin-top: 8%;
  width: 60%;
  height: 70%;
  margin-left: 20.5%;
  /* border: 1px black solid;
  border-radius: 19%; */
}
.carousel-inner{
  border: 3px transparent grey;
  border-radius: 10%;
}

.carousel-indicators
{
  display: none;
}