<div class="main-container">
    <label class="title">Benvenuto</label>
    <label class="text">Completa la registrazione e unisciti a noi!</label>
    <div class="input-group">
        <input placeholder="Nome" type="text">
        <input placeholder="Cognome" type="text">
        <input placeholder="Data di nascita" type="date">
        <input placeholder="Email" type="email">
        <input placeholder="Password" type="password">
        <input placeholder="Conferma Password" type="password">
    </div>
    <button>Registrati</button>
    <label style="align-self: center;">Hai gia' un account? <a (click)="change('login')" class="clickable">Login</a></label>
</div>
