<p>settings works!</p>
<button (click)="backHome()">Home</button>

<div class="main-container">
    <button class="card"><div (click)="redirectAddress()">Addresses</div></button>
    <div class="card">aaaaaaaaaaaaaaaaaa</div>
    <div class="card">aaaaaaaaaaaaaaaaaa</div>
    <div class="card">aaaaaaaaaaaaaaaaaa</div>
    <div class="card">aaaaaaaaaaaaaaaaaa</div>
    <div class="card">aaaaaaaaaaaaaaaaaa</div>
    <div class="card">aaaaaaaaaaaaaaaaaa</div>
    <div class="card">aaaaaaaaaaaaaaaaaa</div>
</div>
