.main-container {
  width: 100%;
  height: 100%;
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 30px;
}

.input-group {
  justify-content: center;
  row-gap: 15px;
  align-content: center;
  flex-direction: column;
}

.title {
  font-size: 40px;
  font-weight: 600;
}

.clickable:hover {
  cursor: pointer;
}

.text {
  font-size: 30px;
}

input {
  border: 2px solid transparent;
  width: 80%;
  height: 2.5em;
  padding-left: 0.8em;
  outline: none;
  overflow: hidden;
  background-color: #f3f3f3;
  border-radius: 10px;
  transition: all 0.5s;
}

input:hover,
input:focus {
  border: 2px solid #4a9dec;
  box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
  background-color: white;
}

button {
  align-self: center;
  padding: 17px 40px;
  border-radius: 10px;
  cursor: pointer;
  width: 50%;
  border: 0;
  background-color: hsl(261deg 80% 48%);
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  color: hsl(0, 0%, 100%);
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
}

button:hover {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

button:active {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}
