<form class="main-container" #loginForm='ngForm' (submit)="loginJwt(loginForm)">
    <label class="title">Benvenuto</label>
    <label class="text">Effettua il login e inizia a fare acquisti!</label>
    <div class="input-group">
        
        <input #email="ngModel" placeholder="Email" type="email" [(ngModel)]="credentials.email" required minlength="6" name="email">
        <ng-container *ngIf="email.invalid && (email.dirty || email.touched)">
            <div *ngIf="email.errors?.['minlength'] || email.errors?.['required']" style="color: rgb(175, 5, 5);">
                Email must be at least 6 characters long.
            </div>
        </ng-container>
        <input  #password="ngModel" [(ngModel)]="credentials.password" placeholder="Password" type="password" required minlength="8" name="password">
        <ng-container *ngIf="password.invalid && (password.dirty || password.touched)">
            <div *ngIf="password.errors?.['minlength'] || password.errors?.['required']" style="color: rgb(175, 5, 5);">
                Password must be at least 8 characters long.
            </div>
        </ng-container>
        </div>
        <div style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
            <input type="checkbox" (change)="stayConnected = !stayConnected" style="width: 20px;"><label style="padding-left: 10px;">Resta Connesso</label>
        </div>
    <button type="submit">Login</button>
    <label style="align-self: center;">Non sei ancora registrato? <a (click)="change('register')" class="clickable">Registrati subito</a></label>
</form>
