.main-container{
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 100%;
    padding: 2%;
    flex-wrap: wrap;
    gap: 1%;
    align-content: center;
    justify-content: center;
}

.card {
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    min-width: 500px;
    min-height: 300px;
    background-color: #f2f2f2;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    flex-direction: column;
    min-width: 100%;
    min-height: 100%;
}
