<div class="main-container">
    
    <button class="card" (click)="redirect('logs-viewer')"><div >Logs</div></button>
    <button class="card" (click)="redirect('products-viewer')"><div >Products</div></button>
    <button class="card" (click)="logout()"><div >Logout</div></button>
    <button class="card" (click)="redirect('support-chat')"><div >Support Chat</div></button>
    <button class="card"><div >Logs</div></button>
    <button class="card"><div >Logs</div></button>
    <button class="card"><div >Logs</div></button>
    <button class="card"><div >Logs</div></button>
    <button class="card"><div >Logs</div></button>


</div>
