<div class="company-info">
    <h3>Informazioni sull'Azienda</h3>
    <p>Nome Azienda: La tua azienda</p>
    <p>Indirizzo: Via Roma, 1, 10100 Torino TO</p>
    <p>Email: info&#64;tuazienda.it</p>
    <p>Telefono: +39 011 1234567</p>

    <a href="https://www.instagram.com/betacom_it/"><i class="bi bi-instagram"></i> Instagram    </a> 
    <a href="https://www.facebook.com/BetacomSrl"><i class="bi bi-facebook"></i> Facebook    </a> 
    <a href="https://it.linkedin.com/company/betacom-s-r-l-"><i class="bi bi-linkedin"></i> Linkedin    </a>

</div>

