<h2 mat-dialog-title>Add Product</h2>
<mat-dialog-content>
  <div style="display: flex; flex-direction: column;">
    <div style="padding: 10px;" class="input-container">
      <label style="padding-right: 10px;">Product name</label>
      <input type = 'text' placeholder="Product name" [(ngModel)]="productDatas.productName" required #productName = 'ngModel'/>
    </div>
    <div style="padding: 10px;"  class="input-container">
      <label style="padding-right: 10px;">Product price</label>
      <input type = 'number' placeholder="Price" [(ngModel)]="productDatas.insertPrice" required #price = 'ngModel'/>
    </div>
    <div style="padding: 10px;" class="input-container">
      <label style="padding-right: 10px;">Product color</label>
      <input type = 'text' placeholder="Color" [(ngModel)]="productDatas.color" required #color = 'ngModel'/>
    </div>
    <div style="padding: 10px;" class="input-container">
      <label style="padding-right: 10px;">Product description</label>
      <input type = 'text' placeholder="Description" [(ngModel)]="productDatas.description" required #description = 'ngModel'/>
    </div>
    <div style="padding: 10px;" class="input-container">
      <label style="padding-right: 10px;">Product number</label>
      <input type = 'text' placeholder="Product number" [(ngModel)]="productDatas.productNumber" required #productNumber = 'ngModel'/>
    </div>
    <div style="padding: 10px;" class="input-container">
      <label style="padding-right: 10px;">Product weight</label>
      <input type = 'number' placeholder="Weight" [(ngModel)]="productDatas.weight" required #weight = 'ngModel'/>
    </div>
    <div style="padding: 10px;">
      <label style="padding-right: 10px;">Model</label>
      <select class="search-select" [(ngModel)]="selectedModel" required #model = 'ngModel'>
        <option value='0' hidden disabled selected>Model</option>
        <option *ngFor="let model of models" value={{model.modelId}}>{{model.name}}</option>
    </select>
    </div>
    <div style="padding: 10px;">
      <label style="padding-right: 10px;">Category</label>
      <select class="search-select" [(ngModel)]="selectedCategory" required #category = 'ngModel'>
        <option value='0' hidden disabled selected>Category</option>
        <option *ngFor="let category of categories" value={{category.categoryId}}>{{category.name}}</option>
    </select>
    </div>

    
    <div class="dropzone" (click)="uploader.click()">
      <ng-container *ngIf="productDatas.thumbnailPhoto===''">
        <fa-icon [icon]="uploadIcon"></fa-icon>
        <button class="upload-button">Upload Image</button>
      </ng-container>
      <ng-container *ngIf="productDatas.thumbnailPhoto!==''">
        <label class="upload-button" style="color: green;">Upload Image Complete</label>
      </ng-container>
    </div>
  
  <input hidden type="file" #uploader (change)="getBase64($event)"/>
    
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button mat-dialog-close cdkFocusInitial [mat-dialog-close]="{state: validate(productName,price,color,description,productNumber,weight, model, category), productDatas}">Confirm</button>
</mat-dialog-actions>
