h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 3%;
    border: black solid;
  }

  .buttonSlide 
  {
    color: black;
  }
  
  
  .p-First
  {
    color:black;
  }
  
  .h5-First 
  {
  
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 900; 
  }
  
  
  .p-First
  {
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: 600;
  
  }
  
  .galleria{
    margin-top: 8%;
    width: 60%;
    height: 70%;
    margin-left: 20.5%;
  }
  .carousel-inner{
    border: 3px transparent grey;
    border-radius: 10%;
  }
  
  .carousel-indicators
  {
    display: none;
  }