<div class="card-body">
  <h3 class="titleCard">Aggiornamento Credenziali</h3>
    <form #updateEmailForm="ngForm" (submit)="UpdateCredentialsEmail()">
      <div class="form-group">
        <label for="Email">Email </label>
        <input class="form-control " pattern="[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
        matInput #email="ngModel" [(ngModel)]="credential.email" name="email" required
          minlength="4" placeholder="Email">
      </div>
      <br>
      <div class="col-md-12 text-center ">
        <button type="submit" [disabled]="updateEmailForm.invalid || !updateEmailForm.dirty" class="button1">Aggiorna Email</button>
      </div>
      <div class="col-md-12 ">
      </div>
    </form>

    <div>
      <form #updatePasswordForm="ngForm" (submit)="UpdateCredentialsPassword()">
        <div class="form-group">
          <label for="Password">Password</label>
          <input type="password" class="form-control" matInput #pw="ngModel" [(ngModel)]="newPassword"
            placeholder="Password" name="pw" required pattern="^\S{8,}$" minlength="8" type="password">
          <ng-container *ngIf="pw.invalid && (pw.dirty)">
            <div *ngIf="pw.errors?.['required'] || pw.errors?.['pattern']" style="color: rgb(175, 5, 5);">
              La password deve essere almeno di 8 caratteri
            </div>
          </ng-container>
        </div>
        <div class="form-group">
          <label for="Password">Conferma Password</label>
          <input type="password" class="form-control" matInput #pw2="ngModel" [ngModel] placeholder="Password"
            name="pw2" required type="password" pattern="^\S{6,}$">
          <ng-container *ngIf="pw2.dirty && (pw.value != pw2.value)">
            <div style="color: rgb(175, 5, 5);">
              Le password devono coincidire
            </div>
          </ng-container>
        </div>
        <div class="col-md-12 text-center ">
          <button type="submit" [disabled]="updatePasswordForm.invalid" class="button2">Cambia Password</button>
        </div>
      </form>
    </div>
  </div>