<p>usersettings work in progress</p>

<div class="card" *ngFor="let a of getaddress">
  <div class="card-body">
    Address: {{a.address1}} -
    City: {{a.city}} -
    Province: {{a.province}} -
    Nation: {{a.nation}} -
    CAP: {{a.cap}}
    <button (click)="PatchAddress(a)" class="btn btn-outline-primary my-2 my-sm-0">Modify Address
    </button>
    <button (click)="DeleteAddress(a.userId, a.addressId)" class="btn btn-outline-danger my-2 my-sm-0">Delete Address
    </button>
  </div>
</div>

<div class="accordion" id="newaccordition">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
        aria-expanded="true" aria-controls="collapseOne">
        Add new Addres
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#newaccordition">
      <div class="accordion-body">
        <div class="form-row">
        </div>
        <div class="form-group">
          <div class="form-group col-md-6">
            <label for="inputAddress">Address</label>
            <input type="text" class="form-control" id="inputAddress" #address>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputCity">City</label>
            <input type="text" class="form-control" id="inputCity" #city>
          </div>
          <div class="form-group col-md-6">
            <label for="inputCity">Province</label>
            <input type="text" class="form-control" id="inputProvince" #province>
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">Nation</label>
            <select id="inputState" class="form-control" #nation>
              <option selected>Choose...</option>
              <option>Italy</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="inputZip">CAP</label>
            <input type="text" class="form-control" id="inputZip" #cap>
          </div>
        </div>
        <button class="btn btn-primary" (click)="AddAddress(address, city, province, nation, cap)">Add
          Address</button>
      </div>
    </div>
  </div>