.footer {
    background-color: #fff; /* Sfondo bianco per il footer */
    padding: 20px; /* Spaziatura interna */
    text-align: center; /* Testo centrato */
    width: 100%; /* Occupa l'intera larghezza */
    /* position: absolute; Posizionamento fisso */
   
}