<div class="card-container" *ngIf="showOriginalCards">
    <ng-container *ngIf="products != undefined">
        <a *ngFor="let p of products" class="card">
            <div *ngFor="let l of p | keyvalue">
                <!-- <label *ngIf="l.key!='carts' && l.key!='category' && l.key!='model' && l.key!='storages' && l.key!='transactions'">{{l.key}}: {{l.value}}</label></div> -->
                <!--div *ngIf="!checkValue(l) && l.key != 'thumbnailPhoto' && l.key!='$id'">
                    <label style="padding-left: 10px; padding-right: 10px;">{{l.key}}: {{l.value}}</label>
                </div-->
                <div *ngIf="l.key == 'thumbnailPhoto'">
                    <!-- <img src="this..domSanitizer.bypassSecurityTrustUrl({{convert(l.value)}});" alt="..." width="100" height="100">  -->
                    <img [src]="convert(l.value)" alt="..." width="100" height="100">
                </div>
            </div>
            <h2>{{p.productName}}</h2>
            <p>Price: €{{p.insertPrice | number : '1.2-2'}}</p>
            <p>Color: {{p.color}}</p>
            <a (click)="GoToDetailsPage(p.productId)">Show more details</a>
            <i (click)="AddToCart()" class="fa fa-shopping-cart">Add to cart</i>
        </a>
    </ng-container>
</div>

<div class="footer">
    <div>
        <ng-container *ngIf="totalProducts==0"> <label>Showing products {{0}} - {{totalProducts}} of {{totalProducts}}</label>  </ng-container>
        <ng-container *ngIf="totalProducts<10 && totalProducts!=0"> <label>Showing products {{page}} - {{totalProducts}} of {{totalProducts}}</label>  </ng-container>
        <ng-container *ngIf="page == 1 && totalProducts>=10"> <label>Showing products {{page}} - {{page*10}} of {{totalProducts}}</label>  </ng-container>
        <ng-container *ngIf="page > 1 && totalProducts>=10"> <label>Showing products {{(page-1)*10}} - {{((page-1)*10)+loadedProducts}} of {{totalProducts}}</label>  </ng-container>
    </div>
<div class="page-navigator-wrapper">
        <a (click)="prev()" style="font-size: 1.4em; cursor: pointer;">Prev</a>
        -
        <a (click)="next()" style="font-size: 1.4em; cursor: pointer;">Next</a>
    </div>
</div>
