<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
  integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<body>
  <div class="sfondo">
    <div class="container">
      <div class="row">
        <div class="col-md-5 mx-auto">
          <div id="first">

            <div class="myform form ">
              <div class="logo mb-3">
                <div class="col-md-12 text-center">
                  <h1>Registrati</h1>
                </div>
              </div>
              <form #registrationForm="ngForm" (submit)="register()">
                <div class="form-group">
                  <label for="firstName">Nome </label>
                  <input class="form-control " matInput #name='ngModel' [(ngModel)]="newUser.firstName" name="name"
                    required minlength="1" placeholder="Nome" pattern="[a-zA-Z]*">
                  <ng-container *ngIf="(name.invalid && name.dirty)">
                    <div>

                    </div>
                  </ng-container>
                </div>
                <div class="form-group">
                  <label for="lastName">Cognome </label>
                  <input class="form-control " matInput #name='ngModel' [(ngModel)]="newUser.lastName" name="name"
                    required minlength="1" placeholder="Cognome" pattern="[a-zA-Z]*">
                </div>
                <div class="form-group">
                  <label for="birthDate">Data di nascita </label>
                  <input type="date" class="form-control " matInput #birthDate="ngModel" [(ngModel)]="newUser.birthDate"
                    name="birthDate" required placeholder="Data di Nascita">
                </div>
                <div class="form-group">
                  <label for="phone">Telefono</label>
                  <input class="form-control " matInput #phone="ngModel" [(ngModel)]="newUser.phone" name="phone"
                    required minlength="2" placeholder="Telefono" pattern="\d*">
                </div>
                <div class="form-group">
                  <label for="Email">Email </label>

                  <input type="text" class="form-control" matInput #email="ngModel"
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="Email"
                    [(ngModel)]="newCredentials.email" name="email" required minlength="1">
                  <ng-container>

                  </ng-container>
                </div>
                <div class="form-group">
                  <label for="Password">Password</label>
                  <input type="password" class="form-control" matInput #pw="ngModel"
                    [(ngModel)]="newCredentials.password" placeholder="Password" name="pw" required pattern="^\S{6,}$"
                    type="password">
                  <ng-container *ngIf="pw.invalid && (pw.dirty)">
                    <div *ngIf="pw.errors?.['required'] || pw.errors?.['pattern']" style="color: rgb(175, 5, 5);">
                      La password deve essere almeno di 6 caratteri
                    </div>
                  </ng-container>
                </div>

                <div class="form-group">
                  <label for="Password">Conferma Password</label>
                  <input type="password" class="form-control" matInput #pw2="ngModel" [ngModel] placeholder="Password"
                    name="pw2" required type="password" pattern="^\S{6,}$">
                  <ng-container *ngIf="pw2.dirty && (pw.value != pw2.value)">
                    <div style="color: rgb(175, 5, 5);">
                      Le password devono coincidire
                    </div>
                  </ng-container>
                </div>

                <div class="col-md-12 text-center ">
                  <button type="submit" class="btn btn-primary"
                    [disabled]="registrationForm.invalid">Registrati</button>
                </div>
                <div class="col-md-12 ">
                </div>
                <div class="form-group">
                  <p class="text-center">Hai gia un account?
                    <a style="cursor: pointer; color:blue;text-decoration: underline;" (click)="GoToLogin()">Accedi</a>
                  </p>
                </div>
              </form>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</body>