.navbar{
    background-color: #f8f9fa;
    border-radius: 10px;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 10px;
}

.nav-brand{

    color: #ffff;
    font-weight: bold;
}
.navbar-nav {
    flex-direction: row;
}

.navbar-nav .nav-link {
    color: #ffffff; /* Colore del testo */
}

.navbar-nav .nav-link:hover {
    color: #adb5bd; /* Colore del testo al passaggio del mouse */
}

.navbar-toggler {
    border-color: #ffffff; /* Colore del bordo del toggler */
}

.navbar-toggler-icon {
    background-color: #ffffff; /* Colore dell'icona del toggler */
}

.input-group-text {
    /*background-color: #495057;  Colore di sfondo del gruppo di input */
    /*border-color: #495057;  Colore del bordo del gruppo di input */
    color: #ffffff; /* Colore del testo */
}

.form-control {
    /*background-color: #495057;  Colore di sfondo dell'input */
    border-color: #495057; /* Colore del bordo dell'input */
    color: #000000; /* Colore del testo */
}

.form-control::placeholder {
    color: #6b6b6b; /* Colore del placeholder */
}

/* Transizione al passaggio del mouse sulle icone */
.input-group-text:hover {
    background-color: #979a9c; /* Colore di sfondo al passaggio del mouse */
}


.form-inline {
    flex-grow: 1;
    justify-content: center;
}
.icon{
    color: black;
}

/* Dropdown Button */
.dropbtnicon {

    color: black;
    
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    /*align-content: center;
    cursor:auto;*/
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content:focus-within {
    display:none !important;
}
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: azure;}