<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <form class="form-inline d-flex" #searchProduct="ngForm"  (submit)="service.FilterProduct()">
        <button class="buttonRicerca"> Ricerca</button>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
            </ul>
            <select title="select" [(ngModel)]="service.selectedCategory" (change)="service.FilterProduct()" [ngModelOptions]="{standalone: true}">
                <option value='all' hidden disabled selected>Tutte le categorie</option>
                <option *ngFor="let c of service.categories" [value]="c.categoryId">{{c.name}}</option>
            </select>
                <div class="input-group">
                    <a class="input-group-text" id="search-color"><i class="bi bi-paint-bucket icon"></i></a>
                    <input name="bycolor" matInput #searchcolor="ngModel" [(ngModel)]="service.bycolor" 
                    type="text" class="form-control" placeholder="Inserisci colore" aria-label="Color"
                        aria-describedby="search-color">
                </div>
                <div class="input-group mr-2">
                    <div class="dropdown">
                        <a class="input-group-text" id="search-price"><i class="bi bi-currency-euro dropbtnicon">
                            <div class="dropdown-content">
                                <a id=">" #greater (click)="SetPriceOperand(greater)">Greater</a>
                                <a id="<" #lower (click)="SetPriceOperand(lower)">Lower</a>
                              </div>
                        </i></a>
                        </div>
                    <input name="byprice" matInput #searchprice="ngModel" [(ngModel)]="service.byprice" 
                    type="text" class="form-control" placeholder="Inserisci prezzo" aria-label="Price"
                        aria-describedby="search-price">
                </div>
                <div class="input-group">
                    <a class="input-group-text" id="search-name"><i class="bi bi-bicycle icon"></i></a>
                    <input name="byname" matInput #searchname="ngModel" [(ngModel)]="service.byname"
                    type="text" class="form-control" placeholder="Inserisci nome del prodotto" aria-label="Name"
                        aria-describedby="search-name">
                </div>
                     <button type="button" class="buttonReset" (click)="Azzera()">Resetta</button>
        </div>
        </form>
    </div>

</nav>