.navbar{
    background-color: #f8f9fa;
    border-radius: 10px;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 10px;
}
.buttonRicerca {
    margin-right: 1em;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Aggiungi una transizione per una transizione più fluida */
}

.buttonReset {
    margin-left: 1em;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Aggiungi una transizione per una transizione più fluida */
}
.buttonRicerca:active {
    transform: translateY(0.3em);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Aggiungi un'ombra leggera al click */
    background-color: white; /* Cambia il colore di sfondo al click */
    color: black; /* Cambia il colore del testo al click */
    font-weight: bold;
}

/* CSS per il button hover */
.button:hover,
.buttonReset:hover {
    background-color: #333;
    color: white; 
}

/* CSS per il button reset al click */
.buttonReset:active {
    transform: translateY(0.3em);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Aggiungi un'ombra leggera al click */
    background-color: white; /* Cambia il colore di sfondo al click */
    color: black; 
    font-weight: bold;
}
.nav-brand{

    color: #ffff;
    font-weight: bold;
}
.navbar-nav {
    flex-direction: row;
}

.navbar-nav .nav-link {
    color: #ffffff; /* Colore del testo */
}

.navbar-nav .nav-link:hover {
    color: #adb5bd; /* Colore del testo al passaggio del mouse */
}

.navbar-toggler {
    border-color: #ffffff; /* Colore del bordo del toggler */
}

.navbar-toggler-icon {
    background-color: #ffffff; /* Colore dell'icona del toggler */
}

.input-group-text {
    
    color: #ffffff; /* Colore del testo */
}

.form-control {
    /*background-color: #495057;  Colore di sfondo dell'input */
    border-color: #495057; /* Colore del bordo dell'input */
    color: #000000; /* Colore del testo */
}

.form-control::placeholder {
    color: #6b6b6b; /* Colore del placeholder */
}

/* Transizione al passaggio del mouse sulle icone */
.input-group-text:hover {
    background-color: #979a9c; /* Colore di sfondo al passaggio del mouse */
}


.form-inline {
    flex-grow: 1;
    justify-content: center;
}
.icon{
    color: black;
}

/* Dropdown Button */
.dropbtnicon {

    color: black;
    
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    /*align-content: center;
    cursor:auto;*/
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content:focus-within {
    display:none !important;
}
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: azure;}