<body>
    <div class="container">
        <div class="screen">
            <div class="screen__content">
                <div class="login">
                    <h2>Register</h2>
                    <div class="login__field">
                        <i class="login__icon fas fa-user"></i>
                        <input type="text" class="login__input" placeholder="Name" #name>
                    </div>
                    <div class="login__field">
                        <i class="login__icon fas fa-user"></i>
                        <input type="text" class="login__input" placeholder="Cognome" #surname>
                    </div>
                    <div class="login__field">
                        <i class="login__icon fas fa-user"></i>
                        <input type="text" class="login__input" required placeholder="Email" #username>
                    </div>
                    <div class="login__field">
                        <i class="login__icon fas fa-lock"></i>
                        <input type="password" class="login__input" required placeholder="Password" #password>
                    </div>
                    
                    <div class="login__field">
                        <i class="login__icon fas fa-user"></i>
                        <input type="phone" class="login__input" required placeholder="Phone Number" #phone>
                    </div>

                    <div class="login__field">
                        <i class="login__icon fas fa-user"></i>
                        <input type="date" class="login__input" required placeholder="Birthdate" #birthdate>
                    </div>

                    <button class="button login__submit" (click)="[RegisterNewUser(name, surname, phone, birthdate, username, password)]">
                        <span class="button__text">Register Now!</span>
                        <i class="button__icon fas fa-chevron-right"></i>
                    </button>
                </div>
            </div>
            <div class="screen__background">
                <span class="screen__background__shape screen__background__shape4"></span>
                <span class="screen__background__shape screen__background__shape3"></span>
                <span class="screen__background__shape screen__background__shape2"></span>
                <span class="screen__background__shape screen__background__shape1"></span>
            </div>
        </div>
    </div>
</body>
