<body>
    <div class="container">
        <div class="screen">
            <div class="screen__content">
                <div class="login">
                    <h2>Login</h2>
                    <div class="login__field">
                        <i class="login__icon fas fa-user"></i>
                        <input type="text" class="login__input" placeholder="Email" #username>
                    </div>
                    <div class="login__field">
                        <i class="login__icon fas fa-lock"></i>
                        <input type="password" class="login__input" placeholder="Password" #password>
                    </div>
                    <button class="button login__submit" (click)="Login(username, password)">
                        <span class="button__text">Log In Now</span>
                        <i class="button__icon fas fa-chevron-right"></i>
                    </button>
                </div>
                <!--a class="login" style="color: black;" href="/register">Click here to register</a-->
                <button class="button login__submit" (click)="RegisterRedirect()">
                    <span class="button__text">Click here to register!</span>
                    <i class="button__icon fas fa-chevron-right"></i>
                </button>
            </div>
            <div class="screen__background">
                <span class="screen__background__shape screen__background__shape4"></span>
                <span class="screen__background__shape screen__background__shape3"></span>
                <span class="screen__background__shape screen__background__shape2"></span>
                <span class="screen__background__shape screen__background__shape1"></span>
            </div>
        </div>
    </div>
</body>