
    
  <form #form='ngForm' (submit)="login()">
    <mat-card style="max-width: 50%; max-height: fit-content; align-items: center;">
        <mat-card-header>
          <!-- <div mat-card-avatar></div> -->
          <mat-card-title >Login</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="" alt="">
        <mat-card-content>
            
                <input matInput #email ngModel pattern="[a-zA-Z ]*" [(ngModel)]="credentials.email" name="email" required minlength="1"><br>
                <input matInput #pw [(ngModel)]="credentials.password" name="pw" required  minlength="1" type="password"><br>
                <input type="checkbox" (change)="stayConnected = !stayConnected"><label>Resta Connesso</label>
           
        </mat-card-content>
        <mat-card-actions>
          <button mat-button type="submit">Login</button>
        </mat-card-actions>
      </mat-card>
  </form>
    <hr>
    <form #form='ngForm' (submit)="loginJwt()">
      <mat-card style="max-width: 50%; max-height: fit-content; align-items: center;">
          <mat-card-header>
            <!-- <div mat-card-avatar></div> -->
            <mat-card-title >Login</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="" alt="">
          <mat-card-content>
              
                  <input matInput #email ngModel pattern="[a-zA-Z ]*" [(ngModel)]="credentials.email" name="email" required minlength="1"><br>
                  <input matInput #pw [(ngModel)]="credentials.password" name="pw" required  minlength="1" type="password"><br>
                  <input type="checkbox" (change)="stayConnected = !stayConnected"><label>Resta Connesso</label>
             
          </mat-card-content>
          <mat-card-actions>
            <button mat-button type="submit">Login JWT</button>
          </mat-card-actions>
        </mat-card>
    </form>
<hr>
<form  #formRegister='ngForm' (submit)="register()">
    <mat-card style="max-width: 50%; max-height: fit-content; align-items: center;">
        <mat-card-header>
          <!-- <div mat-card-avatar></div> -->
          <mat-card-title >Register</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="" alt="">
        <mat-card-content>
            
                
            <input matInput #name [(ngModel)]="newUser.name" name="name" required minlength="1" placeholder="name">
            <input matInput #surname [(ngModel)]="newUser.surname" name="surname" required minlength="1" placeholder="surname">
            <input matInput #nemail [(ngModel)]="newCredentials.email" name="nemail" required minlength="1" placeholder="email">
            <input matInput #npw [(ngModel)]="newCredentials.password" name="npw" required  minlength="1"  placeholder="password" type="password">
            
           
        </mat-card-content>
        <mat-card-actions>
            <button mat-button type="submit">Register</button>
        </mat-card-actions>
      </mat-card>
</form>

