<!-- <form #form='ngForm' (submit)="login()">
    
</form> -->
<input matInput #email [(ngModel)]="credentials.email" name="email" required minlength="1">
<input matInput #pw [(ngModel)]="credentials.password" name="pw" required  minlength="1">
<!-- <section id="overlay">
    <aside>
        <h2>Login</h2>
        <form action="">
            <h4>Username</h4>
            <input type="text" class="usr">
            <h4>Password</h4>
            <input type="text" class="pwd">
            <button type="submit" class="submit">Login</button>
        </form>
    </aside>
</section> -->

<!-- <div class="clock">
    <p id="date"></p>
    <p id="time"></p>
</div> -->