/* #overlay{
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(-45deg, #d400ff, #610ffa);
    visibility: hidden;
    opacity: 0;
    transition: 0.2s all linear;
}

aside{
    background-color: #fff;
    width: 350px;
    padding: 20px;
    border-radius: 16px;
    position: relative;
}

h2{
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #181818;
}

.usr{
    width: calc(100% - 20px);
    padding: 8px 10px;
    border: #cdcdcd solid 1px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.pwd{
    width: calc(100% - 20px);
    padding: 8px 10px;
    border: #cdcdcd solid 1px;
    border-radius: 5px;
    margin-bottom: 15px;
}

h4{
    font-size: 16px;
    color: #282828;
    margin-bottom: 8px;
}

.submit{
    border: none;
    padding: 8px 20px;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    background-image: linear-gradient(45deg, #d400ff, #610ffa);
}
 */
 /* CSS CHE CI PIACE */
 div{
    
 }
 * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #f5f5f5;
  }
  
  .container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  h1 {
    margin-bottom: 30px;
  }
  
  form {
    width: 100%;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0069d9;
  }

  /* body {
    background-color:#666;}
    
   #login {
    width:450px;
    border:1px solid black;
    height:280px;
    
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -140px;
    margin-left: -225px;
    
    background-color:#fff;
    
    border-radius:25px;
    -webkit-border-radius:25px;
    -moz-border-radius: 25px;
    }
    
   #titolologin{
    border-bottom:1px solid #918A8A;
    height:25px;
    width:425px;
    float:left;
    padding:20px 0 15px 25px;
    font-size:30px;
    
    border-radius:25px 25px 0 0;
    -webkit-border-radius:25px 25px 0 0;
    -moz-border-radius: 25px 25px 0 0;
    
    background: rgb(255,255,255); 
   background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(219,219,219,1) 100%);
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(219,219,219,1))); 
   background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(219,219,219,1) 100%); 
   background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(219,219,219,1) 100%); 
   background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(219,219,219,1) 100%); 
   background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(219,219,219,1) 100%); 
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dbdbdb',GradientType=0 ); 
   
   
   }
   
   #register{
    margin-right:90px;}
    
   .button {
    width:125px;
    height:35px;
    text-shadow:2px 2px 5px rgba(212,212,212,1);
    color:#fff;
    font-size:20px;
    -webkit-border-radius:10px;
    border:1px solid #fff;
   
    background: #fc8600; 
    background: -moz-linear-gradient(top, #fc8600 0%, #f7d200 100%); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fc8600), color-stop(100%,#f7d200)); 
    background: -webkit-linear-gradient(top, #fc8600 0%,#f7d200 100%); 
    background: -o-linear-gradient(top, #fc8600 0%,#f7d200 100%); 
    background: -ms-linear-gradient(top, #fc8600 0%,#f7d200 100%); 
    background: linear-gradient(to bottom, #fc8600 0%,#f7d200 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc8600', endColorstr='#f7d200',GradientType=0 ); 
    box-shadow: 2px 2px 5px #000;
    }
   .button:hover {
    box-shadow: 2px 2px 5px #000;}
   .button:active{
    box-shadow:none;
    }
   
   .formlogin{
    margin:75px 50px 50px 50px;
    margin-top:75px;
    }
   
   .testo {
    height:30px;
    width:350px;
    margin-bottom:15px;
    background: #FFFFFF; 
   background: -moz-linear-gradient(top, #FFF 0%, #DBDBDB 100%); 
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#DBDBDB)); 
   background: -webkit-linear-gradient(top, #FFFFFF 0%, #DBDBDB 100%); 
   background: -o-linear-gradient(top, #FFFFFF 0%, #DBDBDB 100%); 
   background: -ms-linear-gradient(top, #FFFFFF 0%, #DBDBDB 100%); 
   background: linear-gradient(to bottom, #FFFFFF 0%, #DBDBDB 100%); 
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dbdbdb',GradientType=0 ); 
   
    
    padding:5px;}
    
   .testo:hover{

    }
    
   .testo:focus, .testo:hover{

    height:35px;
    width:355px;
    } */