<div class='main-container'>
  <div class="content">
    <div class="product-card" *ngFor="let product of products" (click)="GoToDetails(product.productId)">
      <div class="product-image" style="align-self: center; padding-bottom: 10px;">
        <img [src]="convert(product.thumbnailPhoto)" style="border-radius: 20px;">
      </div>
      <div class="product-info">
        <h5>{{product.productName}}</h5>
        <h6>€{{product.actualPrice}}</h6>
      </div>
      <i (click)="AddCart(product,$event)" class="bi bi-cart-fill" style="cursor: pointer; width:fit-content; align-self: center;">Add to
        cart</i>
    </div>
    <ng-container *ngIf="status">
      <div class="footer" style="margin-left: 30px;">
        <div>
          <ng-container *ngIf="service.totalProducts==0"> <label>Prodotti mostrati {{0}} - {{service.totalProducts}} di
              {{service.totalProducts}}</label> </ng-container>
          <ng-container *ngIf="service.totalProducts<10 && service.totalProducts!=0"> <label>Prodotti mostrati
              {{service.page}} - {{service.totalProducts}} di {{service.totalProducts}}</label> </ng-container>
          <ng-container *ngIf="service.page == 1 && service.totalProducts>=10"> <label>Prodotti mostrati
              {{service.page}} - {{service.page*10}} di {{service.totalProducts}}</label> </ng-container>
          <ng-container *ngIf="service.page > 1 && service.totalProducts>=10"> <label>Prodotti mostrati
              {{(service.page-1)*10}} - {{((service.page-1)*10)+service.loadedProducts}} di
              {{service.totalProducts}}</label> </ng-container>
              <div class="page-navigator-wrapper" style="margin-left: 30px;">
                <a (click)="service.prev()" style="font-size: 1.4em; cursor: pointer;"><i class="bi bi-arrow-left"
                    style="margin-right: 10px;"></i></a>
      
                <a (click)="service.next()" style="font-size: 1.4em; cursor: pointer;"><i class="bi bi-arrow-right"></i></a>
              </div>
        </div>


        
      </div>
    </ng-container>
  </div>
</div>