.main-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 2%;
    gap: 1%;
}

.viewer{
    overflow: scroll;
    gap: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    height: 90%;
    background-color: #f2f2f2;
    transition: 0.3s;
}


fa-icon:hover{
    cursor: pointer;
}

fa-icon{
    padding: 1%;
}