<div class="main-container">

    <div>
        
        <fa-icon [icon]="backIcon" (click)="redirect('admin-menu')"  title="Home"></fa-icon>
        <!-- <select [(ngModel)]="selectedValue">
            
            <option  value="all" hidden disabled selected>Category</option>
            <option *ngFor="let c of categories" [value]="c.name">{{c.name}}</option>
          </select> -->
        <select [(ngModel)]="selectedValue">
            <option  value="all" hidden disabled selected>Filters</option>
            <option value="ProductName">ProductName</option>
            <option value="id">Id</option>
        </select>
        <input type="text" [(ngModel)]="search"  (keydown.enter)="filter()">
        <button (click)="filter()">Search</button> 
        
    </div>
    <div class="viewer">
        <ng-container *ngIf="products != undefined">
            <details *ngFor="let item of products">
                <summary><label style="font-weight: bold;">[{{item.productId}} - {{item.productName}}]</label></summary>
                <div style="display: flex; flex-direction: column;">
                    <div *ngFor="let l of item | keyvalue">
                    <!-- <label *ngIf="l.key!='carts' && l.key!='category' && l.key!='model' && l.key!='storages' && l.key!='transactions'">{{l.key}}: {{l.value}}</label></div> -->
                        <div *ngIf="!checkValue(l)">
                            <label>{{l.key}}: {{l.value}}</label> 
                        </div>
                    </div>
                    <div>
                        <fa-icon [icon]="editIcon" (click)="openDialog('0ms', '0ms', item)"></fa-icon>
                        <label>Edit</label>
                    </div>
                    <hr>
                </div>
            </details>
        </ng-container>
    </div>
    <app-toast></app-toast>
</div>