<div>
<mat-card style="max-width: 25%; max-height: fit-content; ">
    
    <img mat-card-image src="https://www.swinnertoncycles.co.uk/images/trek-mountain-bike-session-9-x01-p110978-262901_zoom.jpg" alt="aaaaaaaaaaaaaaaa">
    <mat-card-content style="height: 20%;">
        <mat-card-title >{{item.nameProduct}}</mat-card-title>
        <mat-card-subtitle style="height: 10%; min-width: 100%">
            <!-- <fieldset>
        <input type="radio" *ngFor="let colors of item" name="aa" [style.accent-color]="item">
            </fieldset> -->
        </mat-card-subtitle>
    </mat-card-content>
    <mat-card-actions style="max-height: 10%;">
        <button >
      <fa-icon type="submit" [icon]="faCoffe"></fa-icon>
     </button>
    </mat-card-actions>
  </mat-card></div>