button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

img {
    align-self: center;
    max-width: 80%;
    min-height: 70%;
    
  }

.color-picker{
    display:block;
    min-height: fill;
    min-width: 50%;
    border-radius: 50%;
    border: 1px solid red;
    
  }

