
h1{
   font-style: italic;
   text-align: center;
   font-size: 80px;
 
   color: transparent;
   background-image: url(background-scritta.jpg);
   background-size: cover;
   background-clip: text;
 
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
 
 }
 
 
.appfooter{
   position: absolute;
   overflow: none;
   margin: bottom 0;
 }
 
 .imgHome1 {
   width: auto;
   max-width: 100%;
   height: auto;
   display: block;
   margin: 20px auto; /* 20px sopra e sotto, centrato orizzontalmente */
 }
 
 .imgHome2 {
   width: auto;
   max-width: 100%;
   height: auto;
   display: block;
   margin: 20px auto; /* 20px sopra e sotto, centrato orizzontalmente */
 }
 
 .image-container {
   position: relative;
   text-align: center;
   color: white;
 }
 
 .image-container2 {
 
   margin-right: 454px;
   margin-top: 100px;
   position: relative;
   text-align: center;
   color: white;
 }
 
 .image-containerUltimate {
   
   position: absolute ; bottom: 6%;
   position: relative;
   text-align: center;
   color: white;
 
 }
 
 .caption {
   position: absolute;
   font-style: italic;
   font-size-adjust: none;
   bottom: 20px;
   border-image-outset: 10%;
   left: 50%;
   transform: translateX(-50%);
   font-size: 1.5em;
   font-weight: bold;
   padding: 20px;
   margin-bottom:290px;
   border-radius: 30px;}
 
   .h3{
       
       margin-left:150px ;
       font-style: italic;
       font-size: 45px;
       margin-top: 
       30px;
   }
 
   .h3Image2{
       
     margin-left : 1140px ;
     font-style: italic;
     font-size: 45px;
     position: absolute ; top: 126%;
     
     
 }
 
 
   .p1{
 
      
       font-style: italic;
       
       margin-left: 145px;
       margin-right: 800px;
       font-size: 16px;
 
   }
 
 
   .p2{
     position: absolute ; top: 140%;
     
     font-style: italic;
     margin-left: 1000px;
     margin-right: 30px;
     font-size: 16px;
     }
 
 
 
   button {
       padding: 17px 40px;
       border-radius: 50px;
       cursor: pointer;
       border: 2px solid black; /* Aggiunto bordo di 2px */
       background-color: black; /* Cambiato colore di sfondo a nero */
       color: white; /* Cambiato colore del testo a bianco */
       box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 8px;
       letter-spacing: 1.5px;
       text-transform: uppercase;
       font-size: 15px;
       transition: all 0.5s ease;
     }
     
     button:hover {
       letter-spacing: 3px;
     }
     
     button:active {
       letter-spacing: 3px;
       background-color: white; /* Cambiato colore di sfondo a bianco */
       color: black; /* Cambiato colore del testo a nero */
       box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
       transform: translateY(2px);
       transition: all 100ms;
     }
 
    
   button {
       padding: 17px 40px;
       border-radius: 50px;
       cursor: pointer;
       border: 2px solid black; /* Aggiunto bordo di 2px */
       background-color: black; /* Cambiato colore di sfondo a nero */
       color: white; /* Cambiato colore del testo a bianco */
       box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 8px;
       letter-spacing: 1.5px;
       text-transform: uppercase;
       font-size: 15px;
       transition: all 0.5s ease;
     }
     .divButton{
 
       margin-left: 1150px;
       margin-top: -140px;
     }