input {
  margin: 10px;
}

button {
  align-self: center;
  padding: 17px 40px;
  border-radius: 10px;
  cursor: pointer;
  width: 30%;
  border: 20px;
  background-color: hsl(224, 62%, 42%);
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  color: hsl(0, 0%, 100%);
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
}

button:hover {
  background-color: hsl(224, 62%, 35%);
  color: hsl(0, 0%, 100%);
}

button:active {
  background-color: hsl(224, 62%, 42%);
  color: hsl(0, 0%, 100%);
  transform: translateY(5px);
  transition: 100ms;
}
