<div class="main-container">
    <div class="wrapper">
        <div class="header">
            <div (click)="redirect('admin-menu')" class="clickable" style="display: flex; flex-direction: row;">
                <fa-icon [icon]="backIcon" title="Home"></fa-icon>
                <label class="clickable" style="padding-left: 10px;">Home</label>
            </div>

            <div class="search-bar">
                <div  class="input-wrapper">
                    <select class="search-select" [(ngModel)]="selectedValue">
                        <option value="all" hidden disabled selected>Filters</option>
                        <option value="Date">Date</option>
                        <option value="Level">Level</option>
                    </select>
                    <input type="text" style="height: 100%;" [(ngModel)]="search"  (keydown.enter)="filter('b')">
                    <button  class="search-button" (click)="filter('b')">Search</button>
                </div>
            </div>

            <ng-container *ngIf="loggingState">
                <button (click)="toggleLogging()" class="logs-disable-button">Disable Logging</button>
            </ng-container>

            <ng-container *ngIf="!loggingState">
                <button (click)="toggleLogging()" class="logs-enable-button">Enable Logging</button>
            </ng-container>
            
        </div>
        <div class="viewer">
            <details *ngFor="let log of logs">
                <summary><label style="font-weight: bold;">[{{log.date}} - {{log.timestamp}} - Level {{log.level}}]</label></summary>
                <div style="display: flex; flex-direction: column;">
                    <pre>
                        <code style="display: flex; flex-direction: column;">
                        <label *ngFor="let logVariable of log |keyvalue"><div *ngIf="logVariable.key != '$id' && logVariable.key != 'props'">{{logVariable.key}}: {{logVariable.value}}</div></label>
                        <details style="display: flex; flex-direction: column;">
                            <summary>Props</summary>
                            <label *ngFor="let l of log.props.$values">{{l.key}}: {{l.value}}</label>
                        </details>
                        </code>
                    </pre>
                    <hr>
                </div>
            </details>
        </div>

        <div class="footer">
            <div>
                <ng-container *ngIf="totalLogs==0"> <label>Showing logs {{0}} - {{totalLogs}} of {{totalLogs}}</label>  </ng-container>
                <ng-container *ngIf="totalLogs<10 && totalLogs!=0"> <label>Showing logs {{page}} - {{totalLogs}} of {{totalLogs}}</label>  </ng-container>
                <ng-container *ngIf="page == 1 && totalLogs>=10"> <label>Showing logs {{page}} - {{page*10}} of {{totalLogs}}</label>  </ng-container>
                <ng-container *ngIf="page > 1 && totalLogs>=10"> <label>Showing logs {{(page-1)*10}} - {{((page-1)*10)+logsLoaded}} of {{totalLogs}}</label>  </ng-container>
            </div>
            <div class="page-navigator-wrapper">
                <a (click)="prev()" style="font-size: 1.4em; cursor: pointer;">Prev</a>
                -
                <a (click)="next()" style="font-size: 1.4em; cursor: pointer;">Next</a>
            </div>
        </div>
    </div>
</div>