h1{
  font-style: italic;
  text-align: center;
  font-size: 80px;
  /* background-image: url(https://pinarello.com/storage/thumbs/ProductCategory/1344__resize__3b67aaa2e807daea9348894f6fcc5056.jpg);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent; */

  color: transparent;
  background-image: url(background-scritta.jpg);
  background-size: cover;
  background-clip: text;

  /* color: transparent;
  background-image: linear-gradient(#0000FF, #FF8000);
  background-size: cover;
  background-clip: text; */

  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;

}

