<body class="bodys">

    <img class="image1"
        src="https://www.f-bikestore.it/images/products/100/1500x1500/16659-D/trek-2022-domane-sl-6-etap-rival-satin-dark-aquatic-satin-trek-black.jpg"
        alt="">

    <h3 class="h3">Chi Siamo</h3>
    <p class="p1">
        BetaCycle ha iniziato il suo percorso nel 1992 con un obiettivo chiaro: unire l'innovazione tecnologica al
        nostro impegno per un mondo più sostenibile.
        Fondati a Torino , siamo mossi dalla passione per il ciclismo e l'ambizione di portare gli appassionati come te
        verso nuove vette di performance e soddisfazione.
        Scegliamo solo i migliori brand disponibili sul mercato, garantendo la massima qualità e affidabilità in ogni
        prodotto che offriamo. Il nostro CEO ha un sogno che abbraccia la tecnologia,
        la sostenibilità e il miglioramento personale, e questo si riflette in ogni aspetto della nostra azienda.
        Unisciti a noi in questa avventura ciclistica, dove ogni pedalata
        è un passo verso un futuro più verde e un'esperienza sportiva senza pari.
    </p>

    <img class="image2"
        src="https://media.gettyimages.com/id/1284556476/it/foto/il-ciclista-stradale-cavalca-una-strada-bagnata-sotto-la-pioggia.jpg?s=612x612&w=0&k=20&c=Ena0RdlFU5iPQpIW7nR8RTp9kSc0vZhRPwTpwmgH0Fc="
        alt="">

    <h3 class="h3Image2 ">Il nostro Sogno</h3>

    <div class="divP2">
        <p class="p2">Dal 1992, sognamo di portare ad un livello superiore e di rivoluzionare il tuo modo di acquistare
            e ottenere garanzie di assistenza per la tua passione.
            Importiamo solo i migliori prodotti da tutto il mondo nel mercato italiano e ci impegniamo a offrire
            un'esperienza di navigazione appagante e una semplicità d'uso senza precedenti.
            Vogliamo che tu possa acquistare in tutta tranquillità e ottenere garanzie di manutenzione presso le nostre
            filiali, il tutto gestito comodamente dalla tua app o dal sito web BetaCycle.
            Sappiamo che il tuo tempo è prezioso e ci impegniamo a valorizzarlo al meglio.
        </p>
    </div>

    <div>
        <img class="image3"
            src="https://www.ciclismo.it/files/articoli/2/9/7/29785/B_fabio-holding-bike-credit-hannes-berger.jpg"
            alt="">
    </div>

    <h3 class="h3Image3 ">I Nostri Collaboratori</h3>
    <p class="p3">
        Presso BetaCycle, per garantire soluzioni di elevata qualità, ogni bicicletta viene sottoposta a rigorosi test.
        Questo ci consente di valutarne immediatamente la capacità di soddisfare le tue esigenze. Collaboriamo con
        alcuni dei migliori professionisti del settore,
        sostenendo le loro avventure e rimanendo al loro fianco in ogni sfida. In BetaCycle, sosteniamo i numeri 1.
        Questo significa offrirti tutto ciò di cui hai bisogno, sia che tu cerchi un passatempo coinvolgente o stia
        preparando un evento agonistico.
        Siamo qui per accompagnarti nel raggiungimento dei tuoi obiettivi, fornendoti le soluzioni più adatte alle tue
        esigenze.
    </p>
    <button onclick="window.scrollTo({ top: 0, behavior: 'smooth' })" class="button" routerLink="/home"> Visita
        Home</button>
</body>