<div class="card" style="width: 15rem; height: 9 rem; margin: 10px" *ngFor="let a of getaddress" style="float: left">
  <div class="card-body">
    <h5 class="card-title">{{ a.address1 }}</h5>
    {{ a.city }}, {{ a.cap }}, {{ a.province }} <br />
    {{ a.nation }} <br />
    <div style="margin-top: 0.5rem;">
      <button (click)="GoToUpdateAddress(a,'0ms', '0ms')" class="btn btn-outline-primary my-2 my-sm-0">
        Modifica Indirizzo</button>
    </div>
    <div style="margin-top: 0.5rem;">
      <button (click)="DeleteAddress(a.addressId)" class="btn btn-outline-danger my-2 my-sm-0">
        Elimina
      </button>
    </div>
  </div>
</div>
<hr />

<br />

<div class="add-button-wrapper">
  <div (click)="AddAddressDialog('0ms', '0ms')" class="clickable add-button" style="justify-content: center;">
    <i class="bi bi-plus-lg">Aggiungi nuovo indirizzo</i>    
  </div>
</div>
