body{
    background-image: linear-gradient(35deg, #0011ff, #ffd900,rgb(245, 124, 10));
}
#overlay{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;
}
aside{
    width: 350px;
    padding: 20px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 9px 9px 9px rgba(0, 0, 0, 0.2); 
}
h2{
    font-size: 30px; 
    color: #363636;
    text-align: center;
}
h4{
    font-size: 20px;
    text-align: center;
    margin: 10px 0;
    color: #555;
    font-weight: normal;
}
.name{
    width: calc(100% - 20px);
    padding: 8px 10px;
    font-size: 16px;
    margin: 8px 0;
    color: #363636;
    border: #c9c9c9 solid 1px;
    border-radius: 3px;
    transition: 0.3s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.surname{
    width: calc(100% - 20px);
    padding: 8px 10px;
    font-size: 16px;
    margin: 8px 0;
    color: #363636;
    border: #c9c9c9 solid 1px;
    border-radius: 3px;
    transition: 0.3s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.name :focus{
    transform: scale(1,2);
}
.surname :focus{
    transform: scale(1,2);
}
.submit{
    margin: 8px 0;
    width: 100px;
    border: none; 
    color: #fff;
    background-color: #f15e64;
    padding: 8px 0;
    font-size: 18px;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}
.form1{
    box-shadow: #0011ff;
}