.main-container{
    display: flex;
    flex-direction: row;
    min-width: 100%;
    min-height: 100%;
    padding: 2%;
    flex-wrap: wrap;
    gap: 1%;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    height: fit-content;
    background-color: #f2f2f2;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }